<template>
  <div class="flex justify-center items-center w-screen h-screen">
    <div class="w-1/2 rounded border border-gray-800">
      <div class="pt-4 px-4 bg-gray-900">
        <h3>Log In</h3>
      </div>
      <div class="bf-login-form">
        <div class="in-form">
          <div class="label">Email</div>
          <input v-model="email" type="email" />
        </div>
        <div class="in-form">
          <div class="label">Password</div>
          <input v-model="password" type="password" />
        </div>

        <div class="in-form">
          <div class="label"></div>
          <div class="flex flex-col gap-2">
            <div class="flex gap-4 items-center">
              <input type="checkbox" />
              <p>Remember Me ?</p>
            </div>

            <button
              @click="login()"
              class="bg-gray-700 rounded text-white px-4 py-2"
            >
              Sign In
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: "none",
  data() {
    return {
      email: "",
      password: "",
    };
  },
  methods: {
    async login() {

      try {
        await this.$auth.loginWith("local", {
          data: {
            email: this.email,
            password: this.password,
          },
        });
        console.log(this.$auth.state)
        this.$router.push("/list");
      } catch (e) {
        this.$auth.getToken('local')
        console.log(e);
      }
    },
  },
};
</script>

<style lang="postcss" scoped>
h3 {
  @apply text-2xl font-bold text-white;
}

.bf-login-form {
  @apply flex flex-col gap-8 p-4 text-gray-700 text-base;
}

.in-form {
  @apply flex gap-8 items-center;
}

.in-form input[type="email"],
input[type="password"] {
  @apply appearance-none border border-gray-700 rounded w-1/2 py-2 px-3 text-gray-700 leading-tight focus:outline-none;
}
.in-form input[type="checkbox"] {
  @apply w-4 h-4;
}

.in-form .label {
  @apply w-1/4 flex justify-end text-xl;
}

.cx-box input {
  @apply leading-tight;
}
</style>