<template>
  <div style="max-width: 1599px" class="mx-auto px-4 py-12">
    <div class="flex flex-col gap-4">
      <p class="text-2xl font-bold" :class="loading ? 'skeleton w-1/3 h-8 rounded':''">{{!loading ? 'Inquiry#443123':''}}</p>
      <div v-if="!loading" class="flex gap-8 mt-4">
        <div class="flex-1 flex flex-col gap-6">
          <div class="inquiry">
            <h2>Submited At</h2>
            <p>{{ formatDate(data.created_at) }}</p>
          </div>
          <div class="inquiry">
            <h2>Type</h2>
            <p>{{ data.type }}</p>
          </div>
          <div class="inquiry">
            <h2>Material</h2>
            <p>{{ data.material }}</p>
          </div>
          <div class="inquiry">
            <h2>Minimun Order</h2>
            <div>{{ data.minimum_order }}<span class="ml-12">Pieces</span></div>
          </div>
          <div class="inquiry">
            <h2>Acceptable lead time</h2>
            <div>
              {{ data.acceptable_lead_time }}<span class="ml-12">Days</span>
            </div>
          </div>
        </div>
        <div class="w-1/3">
          <div
            class="
              flex flex-col
              gap-2
              divide-y divide-gray-500
              items-center
              justify-center
              border border-gray-500
              rounded
              py-2
            "
          >
            <p class="text-xl font-bold">Customers</p>
            <div class="custumer-info">
              <span>{{ data.contact_person }}</span>
              <span>{{ data.email }}</span>
              <span>{{ data.country }} {{ data.zip_code }}</span>
              <p class="mt-4">This custumer have 40 inquiries</p>
              <a href="" class="text-blue-500"> See all</a>
            </div>
          </div>
        </div>
      </div>
      <div v-else class="flex flex-col gap-8 mt-4">
        <div v-for="i in 5" :key="i" >
          <div class="flex gap-4">
            <div class="w-1/6 h-6 skeleton">
          </div>
          <div class="w-1/5 h-6 skeleton">
          </div>
          </div>
        </div>
      </div>
    </div>

    <div v-if="!loading" class="mt-8 mb-4">
      <p class="text-xl font-semibold mb-4">Description</p>
      <p>
        {{ data.description ? data.description : "-" }}
      </p>
    </div>
    <div v-if="!loading && data.images" class="flex gap-6">
      <div v-for="img,i in data.images" :key="i">
        <img
        class="rounded w-48 h-48"
        :src="img.full_url"
        alt=""
      />
      </div>
    </div>
  </div>
</template>

<script>
import moment from "moment";
export default {
  middleware: 'auth',
  created() {
    this.getData();
  },
  methods: {
    formatDate(args) {
      let result = "-";
      if (args) {
        result = moment(args).format("MMM, DD YYYY");
      }
      return result;
    },
    async getData() {
      this.loading = true
      try {
        let data = await this.$axios.$get(`orders/${this.$route.params.id}`);
        if (data) {
          this.data = data;
          this.loading =  false
        }
        console.log(data);
      } catch (e) {
        console.log(e);
      }
    },
  },
  data() {
    return {
      data: {},
      loading : false
    };
  },
};
</script>

<style lang="postcss" scoped>
.custumer-info {
  @apply w-full flex flex-col gap-2 items-center justify-center py-4;
}
.custumer-info span {
  @apply bg-gray-500 text-white rounded px-2;
}
.inquiry {
  @apply flex gap-8;
}

.inquiry h2 {
  @apply w-1/4 font-bold;
}

.inquiry p {
  @apply flex-1;
}
</style>
