<template>
  <div style="max-width: 1599px" class="mx-auto px-4 py-12">
    <div class="flex flex-col gap-4 h-full">
      <div
        class="
          flex-1
          border border-gray-500
          rounded
          flex flex-col
          divide-y divide-gray-500
          gap-4
        "
      >
        <div
          v-for="(data, i) in data"
          :key="i"
          class="px-4 py-2 flex gap-4 flex gap-8"
          @click="$router.push(`list/${data.id}`)"
        >
          <div class="w-48">
            <div class="flex justify-between text-sm">
              <span class="bg-gray-200 p-2 rounded">{{ data.type }}</span>
              <span class="bg-gray-200 p-2 rounded">{{ data.material }}</span>
            </div>
            <p class="my-4 text-center font-bold">{{ data.contact_person }}</p>
          </div>
          <div class="flex-1">
            <p class="font-bold mb-4">
              Submited at, {{ formatDate(data.created_at) }}
            </p>
            <p>
              {{ data.description ? checkChar(data.description) : "-" }}
            </p>
          </div>
          <div class="w-1/4 flex gap-4">
            <div v-for="images, i in data.images" :key="i">
              <img
                class="rounded w-24 h-24"
                :src="images.full_url"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div class="w-1/2 flex justify-between font-bold">
        <div class="flex-1 pagination text-gray-600">
          Showing <span>{{ from }}</span> to <span>{{ to }} </span>of
          <span>{{ total }}</span> Entries
        </div>
        <div class="flex-1 flex paglist" v-if="current_page < last_page">
          <span :class="current_page > 1 ? 'cursor-pointer' : ''">{{
            current_page
          }}</span
          ><span class="cursor-pointer" @click="getData(next_page)">{{
            current_page + 1
          }}</span
          ><span>...</span><span>{{ last_page }}</span>
        </div>
        <div v-else>Last Page</div>
      </div>
    </div>
  </div>
</template>

<script>

import moment from "moment";
export default {
   middleware: 'auth',
  created() {
    this.getData();
  },
  methods: {
    checkChar(args){
      if(args){
       let  value = args.split(" ").slice(0, 20).join(" ");
        if(args.split(" ").length > 20){
          return `${value} ...`
        }else{
          return value
        }
      }
      
    },
    formatDate(args) {
      let result = "-";
      if (args) {
        result = moment(args).format("MMM DD YYYY");
      }
      return result;
    },
    async getData(params = "orders") {
      try {
        let data = await this.$axios.$get(params);
        if (data) {
          this.data = data.data;
          this.from = data.from;
          this.to = data.to;
          this.total = data.total;
          this.current_page = data.current_page;
          this.last_page = data.last_page;
          this.next_page = data.next_page_url;
        }
        console.log(data);
      } catch (e) {
        console.log(e);
      }
    },
  },
  data() {
    return {
      data: {},
      from: 0,
      to: 0,
      total: 0,
      current_page: 0,
      last_page: 0,
      next_page: "",
    };
  },
};
</script>

<style lang="postcss" scoped>
.pagination span {
  @apply text-gray-800;
}

.paglist {
  @apply divide-x-2 divide-gray-500;
}

.paglist span {
  @apply px-4;
}
</style>