<template>
  <div class="flex flex-col h-screen justify-between overflow-hidden">
    <div class="bg-gray-800 px-8 py-4 flex gap-12 items-center">
      <p class="text-white text-2xl font-black">Unique 7ewelry</p>
      <div
        v-if="!$auth.state.loggedIn"
        class="flex gap-4 text-white divide-x divide-white"
      >
        <div class="px-4">Home</div>
        <div class="px-4">E-shop</div>
        <div class="px-4">Contact</div>
        <div class="px-4">About</div>
      </div>
      <div v-else class="flex gap-4 text-white divide-x divide-white">
        <NuxtLink to="/list"> Home </NuxtLink>
        <div
          @click="logout()"
          class="pl-4 cursor-pointer"
        >
          Logout
        </div>
      </div>
    </div>
    <main class="flex-1 overflow-auto">
      <Nuxt />
    </main>
    <div class="py-2 text-white bg-gray-800 text-center">Unique 7ewelry ©</div>
  </div>
</template>

<script>
export default {
  methods: {
    async logout() {
      await this.$auth.logout();
      this.$router.push("login");
    },
  },
};
</script>

<style>
</style>