<template>
  <div class="flex flex-col h-screen justify-between overflow-hidden">
    <div class="bg-gray-800 px-8 py-4 flex gap-12 items-center">
      <p class="text-white text-2xl font-black">Unique 7ewelry</p>
      <div class="flex gap-4 text-white divide-x divide-white">
        <NuxtLink to="/list"> Home </NuxtLink>
        <NuxtLink to="/list" class="pl-4"> Logout </NuxtLink>
      </div>
    </div>
    <main class="flex-1 overflow-auto">
      <Nuxt />
    </main>
    <div class="py-2 text-white bg-gray-800 text-center">Unique 7ewelry ©</div>
  </div>
</template>

<script>
export default {};
</script>
<style lang="postcss">
@keyframes load {
  from {
    left: -150px;
  }
  to {
    left: 100%;
  }
}

.skeleton {
  background: rgba(238, 238, 238, 0.7);
  position: relative;
  overflow: hidden;
  display: inline-block;
  &:before {
    content: "";
    display: block;
    position: absolute;
    left: -150px;
    top: 0;
    height: 100%;
    width: 150px;
    background: linear-gradient(
      to right,
      transparent 0%,
      rgba(250, 250, 250, 0.7) 50%,
      transparent 100%
    );
    animation: load 1.3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  }
}
</style>