<template>
  <div style="max-width: 1599px" class="mx-auto px-4 py-12">
    <div class="grid grid-cols-2 gap-12">
      <div class="flex flex-col gap-4">
        <div class="flex flex-col gap-4">
          <div class="form-input">
            <h3>Contact Person*</h3>
            <input v-model="contact_person" type="text" />
            <p class="text-sm text-red-500">
              {{ error.contact_person ? error.contact_person : "" }}
            </p>
          </div>
          <div class="form-input">
            <h3>E-mail*</h3>
            <input v-model="email" type="text" />
            <p class="text-sm text-red-500">
              {{ error.email ? error.email : "" }}
            </p>
          </div>
          <div class="form-input">
            <h3>Addresss</h3>

            <div class="flex gap-4">
              <div class="flex-1">
                <h3>Country*</h3>
                <select
                  v-model="country"
                  class="
                    block
                    w-full
                    bg-gray-50
                    border border-gray-200
                    text-gray-700
                    py-3
                    px-4
                    pr-8
                    rounded
                    leading-tight
                    focus:outline-none focus:bg-white focus:border-gray-500
                  "
                >
                  <option value="New Mexico">New Mexico</option>
                  <option value="Missouri">Missouri</option>
                  <option value="Texas">Texas</option>
                  <option value="Indonesia">Indonesia</option>
                </select>
                <p class="text-sm text-red-500">
                  {{ error.country ? error.country : "" }}
                </p>
              </div>
              <div class="flex-1 form-input">
                <h3>Zip-Code*</h3>
                <input v-model="zip_code" type="number" />
                <p class="text-sm text-red-500">
                  {{ error.zip_code ? error.zip_code : "" }}
                </p>
              </div>
            </div>
          </div>
          <div class="form-input">
            <h3>Minimum Order*</h3>
            <div class="flex gap-4 items-center">
              <input v-model="minimum_order" type="number" />
              <p>Pieces</p>
            </div>
            <p class="text-sm text-red-500">
              {{ error.minimum_order ? error.minimum_order : "" }}
            </p>
          </div>
          <div class="form-input">
            <h3>Acceptable Lead Time*</h3>
            <div class="flex gap-4 items-center">
              <input v-model="acceptable_lead_time" type="number" />
              <p>Day(s)</p>
            </div>
            <p class="text-sm text-red-500">
              {{ error.acceptable_lead_time ? error.acceptable_lead_time : "" }}
            </p>
          </div>
          <p>We require that you fill in items marked an asteriks(*)</p>
        </div>
      </div>
      <div class="flex flex-col gap-4">
        <div class="form-input">
          <h3>Type*</h3>
          <div class="flex gap-4 items-center">
            <input v-model="type" type="radio" value="Ring" />
            <p>Ring</p>
          </div>
          <div class="flex gap-4 items-center">
            <input v-model="type" type="radio" value="Bracelest" />
            <p>Bracelets</p>
          </div>
          <div class="flex gap-4 items-center">
            <input v-model="type" type="radio" value="Necklaces" />
            <p>Necklaces</p>
          </div>
          <p class="text-sm text-red-500">{{ error.type ? error.type : "" }}</p>
        </div>
        <div class="form-input my-4">
          <h3>Material*</h3>
          <div class="flex gap-4 items-center">
            <input type="radio" v-model="material" value="Silver" />
            <p>Silver</p>
          </div>
          <div class="flex gap-4 items-center">
            <input type="radio" v-model="material" value="Gold" />
            <p>Gold</p>
          </div>
          <div class="flex gap-4 items-center">
            <input type="radio" v-model="material" value="Silver & gold" />
            <p>Silver & Gold</p>
          </div>
          <p class="text-sm text-red-500">
            {{ error.material ? error.material : "" }}
          </p>
        </div>
        <div class="form-input">
          <h3>Description</h3>
          <textarea
            v-model="description"
            class="
              w-full
              px-3
              py-2
              text-gray-700
              border
              rounded-lg
              focus:outline-none
            "
            rows="4"
          ></textarea>
        </div>
        <div class="form-input">
          <h3>References</h3>
          <input
            @change="onFileChange"
            type="file"
            accept="image/png, image/gif, image/jpeg"
          />
        </div>
        <div v-if="preference" class="flex gap-4 relative">
          <div v-for="(pref, i) in preference" :key="i" class="relative">
            <div
              class="
                absolute
                border border-red-500
                h-6
                w-6
                text-red-500
                rounded-full
                flex
                items-center
                justify-center
                hover:bg-red-500 hover:text-white
                top-0
                right-0
              "
              @click="deleteImg(i)"
            >
              x
            </div>
            <img class="h-24" :src="renderImg(pref)" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center mt-6">
      <button
        @click="submitInq()"
        class="bg-gray-500 hover:bg-gray-800 text-white rounded px-4 py-2"
      >
        Submit
      </button>
    </div>
  </div>
</template>

<script>
import _ from "lodash";
export default {
  data() {
    return {
      email: "",
      contact_person: "",
      zip_code: "",
      minimum_order: "",
      acceptable_lead_time: "",
      type: "",
      material: "",
      description: "",
      country: "",
      preference: [],
      error: {
        email: "",
      },
    };
  },
  watch: {
    email() {
      this.emailValidator();
    },
  },
  methods: {
    onFileChange(e) {
      this.preference.push(e.target.files[0]);
      console.log(this.preference);
    },
    validatorPayload() {
      let checEmail = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(
        this.email
      );
      if (
        this.contact_person &&
        this.zip_code &&
        this.minimum_order &&
        checEmail &&
        this.acceptable_lead_time &&
        this.type &&
        this.material &&
        this.country
      ) {
        return true;
      } else {
        if (!this.contact_person) {
          this.error.contact_person = "Contac person cannot be null";
        }
        if (!this.email) {
          this.error.email = "Email cannot be null";
        }
        if (!this.zip_code) {
          this.error.zip_code = "Zip Code cannot be null";
        }
        if (!this.minimum_order) {
          this.error.minimum_order = "Minimum order cannot be null";
        }
        if (!this.acceptable_lead_time) {
          this.error.acceptable_lead_time =
            "Acceptable lead time cannot be null";
        }
        if (!this.type) {
          this.error.type = "Type cannot be null";
        }
        if (!this.material) {
          this.error.material = "Material cannot be null";
        }
        if (!this.country) {
          this.error.country = "Country cannot be null";
        }
        return false;
      }
    },
    deleteImg(a) {
      this.preference.splice(a, 1);
    },
    renderImg(a) {
      let res = URL.createObjectURL(a);
      console.log(res);
      return res;
    },
    emailValidator: _.debounce(function () {
      if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(this.email)) {
        this.error.email = "";
      } else {
        this.error.email = "Please enter a valid email address";
      }
    }, 500),
    async submitInq() {
      const config = {
        headers: {
          "Content-Type":
            "multipart/form-data; charset=utf-8; boundary=" +
            Math.random().toString().substr(2),
        },
      };
      this.error = {};
      let payload = {
        email: this.email,
        contact_person: this.contact_person,
        zip_code: this.zip_code,
        minimum_order: this.minimum_order,
        acceptable_lead_time: this.acceptable_lead_time,
        type: this.type,
        material: this.material,
        description: this.description,
        country: this.country,
        preference: this.preference,
      };
      const formData = new FormData();
      Object.entries(payload).forEach((entry) => {
        const [key, value] = entry;
        formData.append(key, value);
      });
      if (this.preference) {
        this.preference.forEach((file,i) => {
          formData.append(`preference[${i}]`, file);
        });
      }

      formData.append("payload", payload);
      let data = await this.$axios.$post("orders", formData, config);
      console.log(data);

      console.log(payload);
      console.log(this.validatorPayload());

      if (this.validatorPayload()) {
        try {
          let data = await this.$axios.$post("orders", payload);
          console.log(data);
        } catch (e) {
          let errors = Object.keys(e.response.data).reduce((res, key) => {
            res[key] = e.response.data[key][0];
            return res;
          }, {});
          this.error = errors;
          console.log(errors);
        }
      }
    },
  },
};
</script>

<style lang="postcss" scoped>
.form-input h3 {
  @apply mb-4 text-base;
}

.form-input input[type="text"],
input[type="number"] {
  @apply appearance-none block w-full  bg-gray-50 text-gray-700 border border-gray-200  rounded  py-3  px-4  leading-tight  focus:outline-none focus:bg-white focus:border-gray-500;
}

.form-input input[type="radio"] {
  @apply w-4 h-4 pl-4;
}
</style>